/*Element*/

a {
    margin: 0px;
    text-decoration: none;
}

body {
    background: rgb(243,237,255);
    background: linear-gradient(90deg, rgb(237, 247, 255) 0%, rgb(234, 245, 255) 25%, rgb(236, 242, 255) 50%, rgb(241, 240, 255) 75%, rgba(234,254,255,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
}

h1 {
    color:mintcream;
    font-family: 'Bebas Neue', cursive;
    font-size: 10vh;
    text-shadow: 1vh 1vh 1vh black;
}

h2 {
    color: rgb(248, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
}

h2, h3 {
    margin: 0px;
}

h3 {
    color: rgb(248, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
}

p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}

/*========================================================*/
/*NavigationMenu CSS*/
/*========================================================*/
/*Class*/
.pagesNavigationMenu {
    height: 2.5vw;
    justify-content: center;
    width: 20.5vw;
}

.pagesNavigationMenu p {
    color: white;
    margin: auto auto auto auto;
}

.pagesNavigationMenu:hover {
    background-color: rgba(255, 255, 255, 0.384);
}

.profilePictureWrap {
    margin: auto;
}

/*ID*/

#navigation {
    background-color: rgba(155, 160, 189, 0.637);
    display: flex;
    height: 2.5vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

#navigation div {
    display: flex;
}

#profileImage {
    height: 100%;
    width: 2.5vw;
}

#profilePicture {
    border-radius: 100%;
    height: 2vw;
    object-fit: cover;
    vertical-align: middle;
    width: 2vw;
}

#searchBar {
    background-color: rgba(255, 255, 255, 0.185);
    border: 0px;
    height: 50%;
    margin: auto;
    padding: 0px;
}

#searchBarDiv {
    height: 100%;
    width: 15.5vw;
}

/*====================================*/
/*Competitions*/
/*====================================*/

.competition {
    align-items: stretch;
    background-color: rgba(155, 160, 189, 0.637);
    display: flex;
    height: 10vh;
    margin: 10vh auto 0 auto;
    width: 90vh;
}

.competitionIcon {
    display: inline-flex;
    height: 10vh;
    margin: 0;
    width: 10vh;
}

.competitionName {
    height: 10vh;
    line-height: 10vh;
    width: 70vh;
}

.competitionName:hover {
    background-color: rgba(255, 255, 255, 0.384);
}

.competitionNameText {
    margin: auto 0 auto 1vh;
}

.competitionRegion {
    height: 10vh;
    line-height: 10vh;
    margin: 0;
    text-align: right;
    width: 10vh;
}

.competitionRegionText {
    margin: auto 1vh auto 0;
}

.imageCompetition {
    display: inline-block;
    height: 9vh;
    width: 9vh;
}

.wrap {
    display: flex;
    margin: auto;
    overflow: auto;
}

.wrapText {
    display:inline-block;
    margin-bottom: auto;
    margin-top: auto;
}

#brasileirao {
    margin-bottom: 15vh;
}