/*Element*/
body {
    background-attachment: fixed;
    background-image: url("../images/backgroundIndex.jpeg");
    background-repeat: no-repeat;
    margin: 0px;
}

h1 {
    color:mintcream;
    font-family: 'Bebas Neue', cursive;
    font-size: 10vh;
    text-shadow: 1vh 1vh 1vh black;
}

h2 {
    color: rgb(248, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
}

h3 {
    color: rgb(248, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
}

hr {
    width: 50vw;
}

p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}

/*========================================================*/
/*NavigationMenu CSS*/
/*========================================================*/
/*Class*/
.pagesNavigationMenu {
    height: 2.5vw;
    justify-content: center;
    width: 20.5vw;
}

.pagesNavigationMenu p {
    color: white;
    margin: auto auto auto auto;
}

.pagesNavigationMenu:hover {
    background-color: rgba(255, 255, 255, 0.384);
}

.profilePictureWrap {
    margin: auto;
}

/*ID*/

#navigation {
    background-color: rgba(0, 0, 0, 0.637);
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.493);
    display: flex;
    height: 2.5vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

#navigation a {
    margin: 0px;
    text-decoration: none;
}

#navigation div {
    display: flex;
}

#profileImage {
    height: 100%;
    width: 2.5vw;
}

#profilePicture {
    border-radius: 100%;
    height: 2vw;
    object-fit: cover;
    vertical-align: middle;
    width: 2vw;
}

#searchBar {
    background-color: rgba(255, 255, 255, 0.185);
    border: 0px;
    height: 50%;
    margin: auto;
    padding: 0px;
}

#searchBarDiv {
    height: 100%;
    width: 15.5vw;
}