/*Element*/

a {
    height: 100%;
    margin: 0px;
    text-decoration: none;
}

body {
    background: rgb(243,237,255);
    background: linear-gradient(90deg, rgb(237, 247, 255) 0%, rgb(234, 245, 255) 25%, rgb(236, 242, 255) 50%, rgb(241, 240, 255) 75%, rgba(234,254,255,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
}

div {
    margin: 0;
}


h1 {
    color:rgb(28, 38, 83);
    font-family: 'Bebas Neue', cursive;
    font-size: 8vh;
    text-align: center;
}

h2 {
    color: rgb(1, 6, 14);
    font-family: 'Bebas Neue', cursive;
    font-size: 3vh;
    line-height: 10vh;
    margin: 0;
    text-align: center;
}

h3 {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    margin: 0vh;
}

hr {
    background-color: rgba(2, 2, 12, 0.322);
    border: 0;
    height: 0.2vh;  
}

p {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}

/*========================================================*/
/*NavigationMenu CSS*/
/*========================================================*/
/*Class*/
.pagesNavigationMenu {
    height: 2.5vw;
    justify-content: center;
    width: 20.5vw;
}

.pagesNavigationMenu p {
    margin: auto auto auto auto;
}

.pagesNavigationMenu:hover {
    background-color: rgba(255, 255, 255, 0.384);
}

.profilePictureWrap {
    margin: auto;
}

/*ID*/

.columnMainContainer {
    height: 100%;
    width: 45vw;
}

.columnMainContainer h2 {
    font-size: 4vh;
    line-height: 5vw;
    margin-top: 5vw;
}

.even {
    background-color: rgba(255, 255, 255, 0.500);
}

.imageTeam {
    height: 4vw;
    margin: 0.5vw;
    width: 4vw;
}

.leftTeamImg {
    height: 100%;
    width: 5vw;
}

.leftTeamName {
    height: 100%;
    width: 15vw;
}

.leftTeamName p {
    line-height: 5vw;
    margin: 0;
}

.odd {
    background-color: rgba(0, 0, 0, 0.185);
}

.result {
    height: 100%;
    width: 5vw;
}

.rightTeam {
    height: 100%;
    margin-right: 0;
    width: 5vw;
}


.rightTeamImg {
    height: 100%;
    width: 5vw;
}

.rightTeamName {
    height: 100%;
    text-align: right;
    width: 15vw;
}

.rightTeamName p {
    line-height: 5vw;
    margin: 0;
}
.rowResult {
    height: 5vw;
    width: 5vw;
}

.rowResult p {
    line-height: 5vw;
    margin: 0;
    text-align: center;
}

.rowTeam {
    display: flex;
    height: 5vw;
    width: 20vw;
}

.tableGames {
    display: flex;
    height: 30vw;
    width: 100%;
}

.tableHeader {
    background-color: rgba(0, 0, 0, 0.250);
}

.team {
    height: 100%;
    width: 20vw;
}

.wrap {
    align-self: middle;
    margin: auto;
    overflow: auto;
}

#columnMainContainerRight {
    margin-left: 3vw;
}

#mainContainer {
    display: flex;
    height: 80vw;
    margin: 0vh auto 10vh auto;
    width: 93vw;
}

#navigation {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    height: 2.5vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

#navigation a {
    margin: 0px;
    text-decoration: none;
}

#navigation div {
    display: flex;
}

#profileImage {
    height: 100%;
    width: 2.5vw;
}

#profilePicture {
    border-radius: 100%;
    height: 2vw;
    object-fit: cover;
    vertical-align: middle;
    width: 2vw;
}

#searchBar {
    background-color: rgba(255, 255, 255, 0.185);
    border: 0px;
    height: 50%;
    margin: auto;
    padding: 0px;
}

#searchBarDiv {
    height: 100%;
    width: 15.5vw;
}
