/*Element*/

a {
    height: 100%;
    margin: 0px;
    text-decoration: none;
}

body {
    background: rgb(243,237,255);
    background: linear-gradient(90deg, rgb(237, 247, 255) 0%, rgb(234, 245, 255) 25%, rgb(236, 242, 255) 50%, rgb(241, 240, 255) 75%, rgba(234,254,255,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
}

div {
    margin: 0;
}


h1 {
    color:rgb(28, 38, 83);
    font-family: 'Bebas Neue', cursive;
    font-size: 8vh;
    margin: 0 0 0 2vh;
}

h2 {
    color: rgb(1, 6, 14);
    font-family: 'Bebas Neue', cursive;
    font-size: 3vh;
    margin: 0;
}

h3 {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    margin: 0vh;
}

hr {
    background-color: rgba(2, 2, 12, 0.322);
    border: 0;
    height: 0.2vh;  
}

p {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}

/*========================================================*/
/*NavigationMenu CSS*/
/*========================================================*/
/*Class*/
.pagesNavigationMenu {
    height: 2.5vw;
    justify-content: center;
    width: 20.5vw;
}

.pagesNavigationMenu p {
    margin: auto auto auto auto;
}

.pagesNavigationMenu:hover {
    background-color: rgba(255, 255, 255, 0.384);
}

.profilePictureWrap {
    margin: auto;
}

/*ID*/


#navigation {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    height: 2.5vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

#navigation a {
    margin: 0px;
    text-decoration: none;
}

#navigation div {
    display: flex;
}

#profileImage {
    height: 100%;
    width: 2.5vw;
}

#profilePicture {
    border-radius: 100%;
    height: 2vw;
    object-fit: cover;
    vertical-align: middle;
    width: 2vw;
}

#searchBar {
    background-color: rgba(255, 255, 255, 0.185);
    border: 0px;
    height: 50%;
    margin: auto;
    padding: 0px;
}

#searchBarDiv {
    height: 100%;
    width: 15.5vw;
}

/*=====================================*/

.centerH1 {
    font-size: 5vh;
    text-align: center;
}

.columnGameTeam {
    height: 25vw;
    width: 20vw;
}

.columnRosterChange {
    display: inline-block;
    height: 25vw;
    width: 22.5vw;
}

.description {
    display: block;
    margin: 0 0 0 2vh;
}

.tableRow {
    height: 5vw;
    text-align: center;
    width: 100%;
}

.tableRow p{
    line-height: 5vw;
    margin: 0;
}

.playersColumn {
    height: 100%;
    width: 30vw;
}

.playerIcon {
    display: flex;
    height: 100%;
    width: 4vw;
}

.playerIconImg {
    border-radius: 100%;
    display: flex;
    width: 3.7vw;
}

.playerList {
    margin: 0 0 0 2vh;
}

.playersRow {
    display: flex;
    height: 4vw;
    width: 100%;
}

.tableBodyEven {
    background-color: rgba(122.5, 122.5, 122.5, 0.500);
}

.tableBodyOdd {
    background-color: rgba(122.5, 122.5, 122.5, 0.250);
}

.tableHeader {
    background-color: rgba(0, 0, 0, 0.250);
}

.wrap {
    align-self: middle;
    margin: auto;
    overflow: auto;
}

.wrapText {
    margin-bottom: auto;
    margin-top: auto;
    overflow: auto;
}

#columnGameResult {
    height: 25vw;
    width: 5vw;
}

#descriptionHeader {
    width: 81vw;
}

#gamesContainer {
    display: flex;
    height: 25vw;
    margin-left: 3vw;
    width: 45vw;
}

#rosterChangeContainer {
    display: flex;
    height: 25vw;
    width: 45vw;
}

#rosterChangeGamesContainer {
    display: flex;
    height: 25vw;
    margin: 5vh auto 5vh auto;
    width: 93vw;
}

#teamHeader {
    align-items: stretch;
    display: flex;
    height: 30vh;
    margin: 0 0 2vh 0;
}

#teamImage {
    display: flex;
    height: 15vw;
    width: 15vw;
}

#teamImg {
    display: flex;
    height: 14vw;
    width: 14vw;
}

#mainDiv {
    display: inline-block;
    margin: 4.5vw 1.5vw 2vw 1.5vw;
    width: 96vw;
}

#players {
    display: flex;
    height: 8vw;
    margin: 5vh auto 5vh auto;
    width: 100%;
}

#playersColumnLeft, #playersColumnMiddle {
    margin-right: 3vw;
}

