/*Element*/

a {
    margin: 0px;
    text-decoration: none;
}

body {
    background: rgb(243,237,255);
    background: linear-gradient(90deg, rgb(237, 247, 255) 0%, rgb(234, 245, 255) 25%, rgb(236, 242, 255) 50%, rgb(241, 240, 255) 75%, rgba(234,254,255,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
}

div {
    margin: 0;
}


h1 {
    color:rgb(28, 38, 83);
    font-family: 'Bebas Neue', cursive;
    font-size: 8vh;
    margin: 0 0 0 2vh;
}

h2 {
    color: rgb(1, 6, 14);
    font-family: 'Bebas Neue', cursive;
    font-size: 3vh;
    margin: 0;
}

h3 {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    margin: 0vh;
}

hr {
    background-color: rgba(2, 2, 12, 0.322);
    border: 0;
    height: 0.2vh;  
}

p {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}

/*========================================================*/
/*NavigationMenu CSS*/
/*========================================================*/
/*Class*/
.pagesNavigationMenu {
    height: 2.5vw;
    justify-content: center;
    width: 20.5vw;
}

.pagesNavigationMenu p {
    margin: auto auto auto auto;
}

.pagesNavigationMenu:hover {
    background-color: rgba(255, 255, 255, 0.384);
}

.profilePictureWrap {
    margin: auto;
}

/*ID*/


#navigation {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    height: 2.5vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

#navigation a {
    margin: 0px;
    text-decoration: none;
}

#navigation div {
    display: flex;
}

#profileImage {
    height: 100%;
    width: 2.5vw;
}

#profilePicture {
    border-radius: 100%;
    height: 2vw;
    object-fit: cover;
    vertical-align: middle;
    width: 2vw;
}

#searchBar {
    background-color: rgba(255, 255, 255, 0.185);
    border: 0px;
    height: 50%;
    margin: auto;
    padding: 0px;
}

#searchBarDiv {
    height: 100%;
    width: 15.5vw;
}


/*=======================================*/
/* liga */
/*=======================================*/

.blankGames {
    background-color: gray;
}

.column {
    height: 88vh;
    line-height: 8vh;
    text-align: center;
    width: 8vh;
}

.wrap p {
    margin: 0;
}

.columnGamesTable {
    height: 80vh;
    line-height: auto;
    width: 8vh;
}

.description {
    display: block;
    margin: 0 0 0 2vh;
}

.even {
    background-color: rgba(0, 0, 0, 0.250);
}

.gamesTableCell {
    display: flex;
    height: 8vh;;
    width: 8vh;
}

.gamesTableCell p {
    font-size: 1.5vh;
    margin: 0;
    text-align: center;
}

.gamesTableCell strong p {
    font-size: 2vh;
}

.imgStanding {
    display: flex;
    height: 7vh;
    width: 7vh;
}

.odd {
    background-color: rgba(255, 255, 255, 0.250);
}

.standings, .teamIconStandings, .gamesPlayedStandings, .gamesWonStandings, .gamesWonOtStandings, .gamesLostOtStandings, .gamesLostStandings, .pointsStandings {
    display: flex;
    height: 8vh;
    margin: 0 auto auto auto;
    width: 8vh;
}

.teamIcon {
    display: flex;
    height: 100%;
    width: 4vw;
}

.teamIconImg {
    display: flex;
    width: 3.7vw;
}

.teamList {
    margin: 0 0 0 2vh;
}

.teamsColumn {
    height: 100%;
    width: 30vw;
}

.teamNameStandings {
    height: 8vh;
    width: 32vh;
}

.teamsRow {
    display: flex;
    height: 4vw;
    width: 100%;
}

.textStandings {
    text-align: center;
}

.wrap {
    align-self: middle;
    margin: auto;
    overflow: auto;
}

.wrapText {
    margin-bottom: auto;
    margin-top: auto;
    overflow: auto;
}

#descriptionHeader {
    width: 81vw;
}

#gamesTable {
    display: flex;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 80vh;
}

#hTable {
    font-size: 5vh;
    margin-top: 5vh;
    text-align: center;
}

#leagueHeader {
    align-items: stretch;
    display: flex;
    height: 30vh;
    margin: 0;
}

#leagueImage {
    display: flex;
    height: 15vw;
    width: 15vw;
}

#leagueImg {
    display: flex;
    height: 14vw;
    width: 14vw;
}

#mainDiv {
    display: inline-block;
    margin: 4.5vw 1.5vw 2vw 1.5vw;
    width: 96vw;
}

#standingsTable {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 96vh;
}

#teamNameStandings {
    width: 32vh;
}

#teams {
    display: flex;
    height: 16vw;
    margin: 5vh auto 5vh auto;
    width: 100%;
}

#teamsColumnLeft, #teamsColumnMiddle {
    margin-right: 3vw;
}
